
// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
// ncWMS2 SECURITY POLICY
//
//  CORS Filter
//      class: com.thetransactioncompany.cors.CORSFilter
//      jar file: cors-filter-1.8.jar
//
// Error encountered at launch:
//
// java.security.AccessControlException: access denied ("java.util.PropertyPermission" "cors.configurationFile" "read")
//
// Example from catalina.policy:
//
//   grant codeBase "war:file:${catalina.base}/webapps/examples.war*/WEB-INF/lib/foo.jar" { ... };
//
// The sledgehammer (don't do it dude...)
//   grant codeBase "war:file:${catalina.base}/webapps/examples.war*/WEB-INF/lib/foo.jar" {
//        permission java.security.AllPermission;
//   };
//
grant codeBase "file:${catalina.base}/webapps/ncWMS2/-" {
    permission java.util.PropertyPermission  "cors.configurationFile",                 "read";
    permission java.util.PropertyPermission  "user.home",                              "read";
    permission java.io.FilePermission        "${user.home}${/}.ncWMS2",                "read";
    permission java.io.FilePermission        "${user.home}${/}.ncWMS2${/}-",           "read";
    permission java.io.FilePermission        "${user.home}${/}.ncWMS2${/}.palettes",   "write";
    permission java.io.FilePermission        "${user.home}${/}.ncWMS2${/}.styles",     "write";
    permission java.io.FilePermission        "${user.home}${/}.ncWMS2${/}logs",        "write";
    permission java.io.FilePermission        "${user.home}${/}.ncWMS2${/}logs${/}-",   "write";

    permission java.lang.RuntimePermission   "accessDeclaredMembers";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission   "createClassLoader";

    permission java.util.PropertyPermission "net.sf.ehcache.CacheManager.statisticsExecutor.poolSize", "read";
    permission java.lang.RuntimePermission  "modifyThread";

};
// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --





